fieldset{
    border: none;
    margin-top: 2.5rem;
}

.fieldset-wrapper{
    width: 100%;
    gap: .75rem;
    align-items: center;
    margin-bottom:1.5rem ;
    img{
        max-width: 1.5rem;
    }
}