#app{
    display: grid;
    grid-template-columns: 31.25% 68.75%;
    gap: 20px;
    height: 100vh;
    overflow: hidden;
    padding: 1.25rem;
}

aside{
padding: 2rem;
overflow: hidden;
background-image: url(../assets/Background.png) ;
background-size: cover;
border-radius: 1rem;
margin-bottom: 2rem;
}
.aside-container{

    img{
        max-width: 21rem;
        max-height:3.375rem ;
    }
}

main{
    
    overflow: auto;
    background-color: var(--shape-body);
    border-radius: 1rem;
    display: flex;
    margin-right: 2rem;
    margin-bottom: 2rem;    

    
}

.main-container{
        margin-inline:auto;
        /* width: 35rem ; */
    }