.flex{
    /* width: 100%; */
    display: flex;
}

.column{
     flex-direction: column;
}

.left{
    align-items: start;
}

.gap16{
    gap: 1rem;

}

.gap{
    gap: 5rem;
}

.gaptype{
    gap: 2rem
}